* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Roboto Slab", serif;
}

body {
  background-color: var(--background-color);
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
}
#events-container {
  min-width: 60%;
  margin-top: 5em;
  border: 3px solid white;
}

.event-type-switcher {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--dark-red);
}
.event-type-switcher > button {
  cursor: pointer;
  background-color: var(--dark-red);
  color: white;
  font-weight: 500;
  font-size: 1.4em;
  padding: 1em;
  border: none;
}
.event-type-switcher > button:hover {
  background-color: var(--light-red);
}
button.active {
  background-color: var(--light-red);
}

.set-year-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: var(--dark-red);
}
.btn-year {
  margin: 0.2em 0;
  background-color: var(--dark-red);
  font-size: 1.2rem;
  padding: 0.2rem;
  cursor: pointer;
  border: none;
}
.btn-year:hover {
  transition: all 1s;
  background-color: var(--light-red);
}
.btn-year:focus {
  background-color: white;
  color: black;
}

.table-head {
  font-size: 1.3em;
  font-weight: 900;
}
.event-table {
  width: 100%;
}
table,
tr,
td {
  background-color: var(--grey-color);
  border: 1px solid rgb(173, 170, 170);
  border-collapse: collapse;
  padding: 0.5em 0.5em;
  color: white;
}
i {
  margin: 0 0.3em;
}
.hidden {
  display: none;
}
