@import "footer.css";
@import "header.css";
@import "spinner.css";
@import "popup.css";

:root {
  --black-color: #080705;
  --grey-color: #202020;
  --dark-red: #702632;
  --light-red: #912f40;
  --background-color: #e7e7e7;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Roboto Slab", serif;
}
body {
  background-color: rgb(59, 59, 59);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  position: relative;
}

/* ALL EVENTS */

.events-container {
  text-align: center;
  overflow: hidden;
  margin: 2% 5%;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 8px 8px 24px 0px rgb(0, 0, 0);
}
.events-container h1 {
  background-color: var(--grey-color);
  padding: 1em;
}
.events-container h2 {
  font-size: 3em;
  font-weight: 900;
  padding: 0.5em 1em;
}

/* MAIN EVENT */

.main-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  min-height: 40vh;
  min-width: 60vw;
}
.main-event-info {
  margin-bottom: 3em;
}
.main-event-info h2,
.main-event-info span {
  color: black;
}
.main-event-info h2 {
  font-size: 1.9em;
}

.main-event-place {
  font-size: 0.7em;
  color: var(--grey-color);
  font-weight: 400;
  /* background-color: var(--background-color); */
  padding: 0.1em;
}

.main-event-fighters-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  gap: 15px;
}
.left-container,
.right-container {
  display: flex;
  justify-self: center;
  position: relative;
  max-width: fit-content;
  background-color: var(--black-color);
  margin: 0 1em;
  padding: 1em 0.2em;
  border-top-left-radius: 0.9em;
  border-top-right-radius: 0.9em;
  box-shadow: 8px 8px 18px -9px rgba(84, 84, 84, 1);
  transition: 0.3s all ease;
  transform: scale(1);
}
.left-container:hover,
.right-container:hover {
  transition: 0.3s all ease-in-out;
  transform: scale(1.1);
}
/* INFORMATIONS ABOUT FIGHTERS*/

.main-event-fighter-name {
  position: absolute;
  background-color: var(--dark-red);
  color: white;
  top: -15px;
  left: 10px;
  font-size: 1em;
  font-weight: 900;
  padding: 0.2em 0.8em;
  min-width: 11em;
}
.main-event-fighter-results {
  color: white;
  font-size: 0.8em;
  font-weight: 600;
}
.main-event-fighter-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}

.main-event-fighter-img {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 300px;
  width: 250px;
  margin-top: 2em;
}

/* CENTER DIV (BEETWEN FIGHTERS) */
.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.center-text {
  background-color: var(--dark-red);
  font-size: 2em;
  padding: 0.3em 1.5em;
  /* border-top-right-radius: 1em;
  border-bottom-left-radius: 1em; */
  box-shadow: 8px 8px 24px 0px rgb(184, 184, 184);
}
.center-info-time {
  color: var(--dark-red);
}

/*  buttons  */
.btn-show-all {
  cursor: pointer;
  background-color: var(--dark-red);
  width: 25%;
  color: white;
  font-weight: 900;
  padding: 0.7em 2em;
  margin: 2em 0;
  border: none;
  /* border-radius: 1em; */
  box-shadow: 8px 8px 12px -1px rgba(97, 97, 97, 1);
}
.btn-show-all:hover {
  background-color: var(--light-red);
  box-shadow: 8px 8px 12px -1px rgba(97, 97, 97, 1);
}

/* OTHER FIGHTS */
.other-events {
  display: flex;
  flex-direction: column;
  margin: 2.5em 1em;
}
.event {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url(../img/navbar.jpg);
  background-size: 50%;
  border-bottom: 0.2em solid rgb(0, 0, 0);
  border-left: 0.2em solid rgb(0, 0, 0);
  border-right: 0.2em solid rgb(0, 0, 0);

  padding: 0.4em 0em;
}

.hidden {
  display: none;
}
.other-events-title {
  background-color: var(--black-color);
  color: white;
  font-weight: 900;
  font-size: 1.2em;
  padding: 1em 0;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.event-fight-info {
  grid-column-start: 1;
  grid-column-end: 3;

  margin-left: 1em;
  text-align: left;
}
.event-fight-info span {
  font-size: 0.8em;
  font-weight: 400;
  color: rgb(189, 189, 189);
}
.fighter-results {
  font-size: 0.8em;
  color: rgb(189, 189, 189);
}
.left,
.right {
  display: flex;
  padding: 0.5em 1em;
  align-items: center;
}
.left {
  text-align: start;
}
.right {
  display: flex;
  justify-content: flex-end;
  text-align: end;
  padding: 0.5em 1em;
}

.fight-info-weight {
  display: flex;
  margin-right: 1em;
  float: right;
  justify-content: flex-end;
}

.event-fighter-container img {
  border-radius: 1.5em;
  margin: 0 1em;
  display: flex;
  width: 50px;
  height: 50px;
}
