#fighter-container {
  display: grid;
  grid-template-columns: 180px auto;
  width: 100%;
  margin-top: 1em;
  background-color: red;
}
.fighter-image-container {
  background-color: var(--grey-color);
}
.fighter-stats-cointainer {
  display: flex;
  flex-direction: column;
  background-color: var(--grey-color);
}
.fighter-photo {
  width: 250px;
}
.fighter-name {
  font-size: 1.2rem;
  margin-left: 0.5em;
}
.fighter-name:hover {
  color: rgb(2, 2, 2);
  cursor: pointer;
}
.fighter-name.popup:hover {
  cursor: default;
  color: rgb(2, 2, 2);
}

.fighter-stats-cointainer span {
  font-weight: bold;
  margin-right: 0.5em;
}
.fighter-info {
  padding: 0.1em 1em;
  font-weight: 300;
  font-size: 0.9em;
}
.border {
  border: 2px solid black;
}

.fighter-results {
  margin-top: 1em;
  font-size: 1.1rem;
}

.fighter-results > p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(65, 65, 65);
  padding: 0.5em;
}
.fighter-results-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2em 0;
}
.fighter-wins,
.fighter-losses,
.fighter-draws {
  font-weight: bolder;
  padding: 0 1em;
  margin-left: 1em;
}
.fighter-wins {
  background-color: green;
}
.fighter-losses {
  background-color: rgb(235, 27, 27);
}
.fighter-draws {
  background-color: rgb(0, 0, 0);
}

/* POPUP DIV */

.overlay {
  display: flex;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 1;
  -moz-opacity: 0.8;
  opacity: 0.8;
}

.overlay-content {
  display: flex;
  justify-self: center;
  align-self: center;
  position: fixed;
  top: 25%;
  left: 25%;
  width: auto;
  height: auto;
  z-index: 2;
  overflow: hidden;
}

.close-btn {
  display: flex;
  align-self: end;
  background-color: transparent;
  border: none;
  padding: 0.2rem;
  cursor: pointer;
}
